@{
    ViewBag.Title = "Contacto";
}
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av.Uno <br />
    Las Condes, Santiago de Chile<br />
    <abbr title="Phone">P:</abbr>
    9 62547 854
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@processsa.cl">soporte@processsa.cl</a><br />
    <strong>Ventas:</strong> <a href="mailto:ventas@processsa.cl">ventas@processsa.cl</a>
</address>