@{
    ViewBag.Title = "Home";
}
<br />
<div class="jumbotron">
    <h1>PROCESS S.A</h1>
    <p class="lead">
        Process S.A es una empresa con años de experiencia que  se dedica a asesorar a empresas de distintos rubros en el ordenamiento y control
        de sus procesos y tareas.
    </p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Acerca de nosotros &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Noticia 1</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticia 2</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticia 3</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver... &raquo;</a></p>
    </div>
</div>