@{
    ViewBag.Title = "Asignar Tareas";
}

<br />
<div class="row">
    <div class="col-lg-12 col-md-12 colsm-12">
        <h3><b>@ViewBag.Title</b></h3>
    </div>
</div>
<div class="row">
    <form id="mant_crear_usuario_form">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Tarea</label>
                        <select class="form-control">
                            <option>Seleccione...</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Tarea Subordinada</label>
                        <select class="form-control" disabled>
                            <option>Seleccione...</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Tarea</label>
                        <select class="form-control">
                            <option>Responsable</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Plazo</label>
                        <input type="date" class="form-control" />
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="reset" class="btn btn-info">Limpiar</button>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
  
   
</div>