@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}

@{
    ViewBag.Title = "Dashboard";
}
<br />
@if (Session["perfil"] != null && Convert.ToInt32(Session["perfil"]) == 1)
{
    <h2>Bienvenido Administrador, </h2>
    <h3>@Session["usu"].ToString()</h3>
    <br />
    <h4>Empresa : </h4>
    <h4>Fecha de hoy  : <span class="text-md-center">@DateTime.Now</span></h4>
    
}
else
{
    <h3>Bienvenido</h3>
    <br />

    <h5>este es el resumen de tus últimas acciones :</h5>
    <div class="table-responsive-sm table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Tarea</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha estimada</th>
                    <th scope="col">Subtareas</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Usuario Asignado</th>
                    <th scope="col">Completado</th>
                    <th scope="col">%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">205</th>
                    <td>Aumentar velocidad totem sucursal</td>
                    <td>03-11-2020</td>
                    <td>15-11-2020</td>
                    <td>4</td>
                    <td>Asignado</td>
                    <td>Topher</td>
                    <td>0</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">156</th>
                    <td>Reparar teclado OF-844</td>
                    <td>25-09-2020</td>
                    <td>26-09-2020</td>
                    <td>1</td>
                    <td>Completado</td>
                    <td>Ruben</td>
                    <td>1</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">55</th>
                    <td>Formatear VMS</td>
                    <td>22-10-2020</td>
                    <td>15-11-2020</td>
                    <td>4</td>
                    <td>En progreso</td>
                    <td>Maria</td>
                    <td>2</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">98</th>
                    <td>Reiniciar Clusters Desarrollo</td>
                    <td>01-10-2020</td>
                    <td>15-10-2020</td>
                    <td>7</td>
                    <td>Completado</td>
                    <td>Andres</td>
                    <td>7</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">156</th>
                    <td>Reparar teclado OF-844</td>
                    <td>25-09-2020</td>
                    <td>26-09-2020</td>
                    <td>1</td>
                    <td>Completado</td>
                    <td>Topher</td>
                    <td>1</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}



