@{
    ViewBag.Title = "Crear Rol";
}

<style>
    input, select, textarea {
        max-width: 1200px;
    }

</style>

<br />
<div class="row">
    <div class="col-lg-12 col-md-12 colsm-12">
        <h3><b>@ViewBag.Title</b></h3>
    </div>
</div>
<div class="row">
    <form id="mant_crear_usuario_form">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Jerarqu&iacute;a</label>
                        <input class="form-control" type="number" placeholder="1"  min="1" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Descripci&oacute;n</label>
                        <input class="form-control" placeholder="Administrador" required />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="reset" class="btn btn-info">Limpiar</button>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4><b>Lista de Roles</b></h4>
                    <select class="form-control select-mul" multiple></select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="reset" class="btn btn-danger btn-eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>