@{
    ViewBag.Title = "Crear Tarea Subordinada";
}

<br />
<div class="row">
    <div class="col-lg-12 col-md-12 colsm-12">
        <h3><b>@ViewBag.Title</b></h3>
    </div>
</div>
<div class="row">
    <form id="mant_crear_usuario_form">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Tarea Asignada</label>
                        <select class="form-control">
                            <option>Seleccione...</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Nombre</label>
                        <input type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label>Descripci&oacute;n</label>
                        <textarea required class="form-control"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="reset" class="btn btn-info">Limpiar</button>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>